<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    {{# if successMsg }}
      <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
        {{ successMsg }}
      </div>
    {{/ if}}
  </div>
</div>

<style>
body {
  margin-top: -10px ;
}

.cover {
 background: url(http://www.theflowerwall.com.au/wp-content/uploads/2016/09/ivoryflowerwall-1350x900.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 position:relative;
 height: 50%;

}

.cover h1 {
  padding-top: 20%;
  padding-bottom: 10%;
  font-family: 'Parisienne', cursive;
  font-size: 60px;
  /*color: #C1B69F;*/
  text-shadow: 2px 2px #a5a4a0;
}
</style>

<div class= "container-fluid cover">
<h1 class="text-center">Sydney's Premium flower walls</h1>
</div>

{{# each category}}
  <div class="row">
  {{# each this}}
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img src="{{ this.imagePath }}" alt="...">
        <div class="caption clearfix">
          <h3>{{this.title}}</h3>
          <p class="description">{{this.description}}</p>
<!-- passing item id -->
          <p><a href="/products/{{this._id}}" class="btn btn-default pull-right pull-down" role="button">More</a></p>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
{{/each}}
