<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    {{# if successMsg }}
      <div id="success" class="alert alert-success" {{#if noMessage}}hidden{{/if}}>
        {{ successMsg }}
      </div>
    {{/ if}}
  </div>
</div>

<div class= "container-fluid landing-cover">
  <div class="row">
    <p class="text-center hero-title"><strong>WELCOME TO</strong></p>
  </div>
  <div class="row">
    <h1 class="hero-text text-center">The Flower Wall</h1>
  </div>
  <div class="">
    <h4 class="text-center hero-subtitle"><i>Sydney's Premier Hand Crafted Flower Walls</i></h4>
  </div>
</div>

{{> client-list}}

<div class= "container-fluid second-cover">
  <!-- <div class="row">
    <p class="text-center hero-title"><strong>WELCOME TO</strong></p>
  </div> -->
  <div class="row">
    <h1 class="hero-text text-center">Weddings, events and props</h1>
  </div>
  <!-- <div class="">
    <h4 class="text-center hero-subtitle"><i>Sydney's Premier Hand Crafted Flower Walls</i></h4>
  </div> -->
</div>

<div class="container-fluid">
  <div class="section-padding">
    <div class="services">
      <div class="row no-gutter">
        <div class="col-md-4">
          <div class="hovereffect2">
            <img class="img-responsive" src="http://www.theflowerwall.com.au/wp-content/uploads/2017/01/IMAG0950-1200x900.jpg" alt="Flowerwalls">
            <div class="overlay">
              <h2>Flowerwalls</h2>
              <a class="info" href="/flowerwalls">View</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="hovereffect2">
            <img class="img-responsive" src="http://www.theflowerwall.com.au/wp-content/uploads/2016/08/FOAM-TLS-1245x900.jpg" alt="Signage">
            <div class="overlay">
              <h2>Signage</h2>
              <a class="info" href="/signage">View</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="hovereffect2">
            <img class="img-responsive" src="http://www.theflowerwall.com.au/wp-content/uploads/2015/08/12640255_1527372504225082_6256151820693173697_o.jpg" alt="Photobooths">
              <div class="overlay">
                <h2>Photobooths</h2>
                <a class="info" href="/photobooths">View</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section-padding">
    <div class="header-padding-bottom">
      <div class="section-header">
        <h1 id="Products"class="text-center">OUR COLLECTION</h1>
      </div>
    </div>
    {{# each category}}
      <div class="row no-gutter">
        {{# each this}}
        <div class="col-sm-4 col-md-4">
          <div class="hovereffect">
            <div class="gallery">
              <!-- <a href="/products/{{this._id}}" role="button"> -->
                <img class="img-responsive" src="{{ this.imagePath }}" alt="{{ this.title }}">
                <div class="overlay">
                  <h2>{{this.title}}</h2>
                  <a class="info" href="/products/{{this._id}}">View</a>
                </div>
              <!-- </a> -->
            </div>
          </div>
        </div>
        {{/each}}
      </div><!-- row -->
    {{/each}}
  </div>
</div>
